button {
    background: #696969;
    border: 0px;
    border-radius: 5px;
    padding: 3px 6px 3px 6px;
    font-size: 11px;
    color: white;
}

input.largerCheckbox {
    width: 15px;
    height: 15px;
}