<div class="notes">
  <div class="appForm">
    <h2>{{title}}</h2>
    <br>
    <form class="form-group row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Titulo</mat-label>
        <input matInput type="text" name="titulo" [(ngModel)]="boxTitulo">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Contenido</mat-label>
        <textarea matInput name="contenido" [(ngModel)]="boxContenido"></textarea>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Elige un color</mat-label>
        <mat-select name ="color" [(ngModel)]="boxColor"> 
          <mat-option value="lightgreen">lightgreen</mat-option>
          <mat-option value="lightyellow">lightyellow</mat-option>
          <mat-option value="lightcyan">lightcyan</mat-option>
          <mat-option value="lightgrey">lightgrey</mat-option>
        </mat-select>
      </mat-form-field>
      <section>
        <button type="submit" mat-mini-fab color="primary" (click)="altaNota()">+</button>
      </section>
    </form>
  </div>
  <br> <br>
  <div class="appNotes">
    <app-list *ngFor="let nota of notas; let i=index" [notaList]="nota" [indexList]="i"></app-list>
  </div>
</div>